.social-links {
    position: fixed;
    right: calc(0.5vw + 0.5vh + 0.5rem);
    bottom: 5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: calc(2vw + 2vh + 1vmin);
    z-index: 1;
}