.main-header {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 1;
}

.navbar {
    margin-top: 2rem;
    margin-right: calc(0.5vw + 0.5vh + 0.5rem);
}

.navbar #burger-icon {
    font-size: calc(2vw + 2vh + 0.6vmin);
    cursor: pointer;
}

#nav-menu {
    background-color: var(--secondary-color);
    width: 100%;
    max-width: 600px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    right: -100%;
    transition: 850ms;
}

#nav-menu.active {
    right: 0;
    transition: 350ms;
}

.nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
    font-size: calc(1.2vw + 1.2vh + 1rem);
}

.nav-text:hover {
    text-decoration: underline;
    cursor: pointer;
}

.nav-menu-items {
    width: 100%;
}

.navbar-toggle {
    list-style: none;
    text-align: right;
    margin-right: calc(0.5vw + 0.5vh + 0.5rem);
}

.navbar-toggle #close-icon {
    font-size: calc(2.2vw + 2.2vh + 2rem);
    cursor: pointer;
}