.main {
    margin-top: 3rem;
    margin-bottom: 2rem;
    flex-grow: 1;
}

.main > section {
    margin: 3rem auto;
}

#about-me {
    width: 75vw;
    max-width: 1200px;
}

#about-me .title {
    font-size: clamp(3rem, 10vw - 2rem, 5rem);
}

#about-me p {
    font-size: clamp(1.2rem, 4vw - 2rem, 2rem);
}

#about-me p span {
    font-weight: bold;
    font-size: clamp(1.2rem, 4vw - 2rem, 2rem);
}

#projects {
    width: 75vw;
}

h2 {
    text-align: center;
    font-size: calc(1.1vw + 1.1vh + 1.1rem);
}

#projects-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
}

.project-card {
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    box-shadow: 3px 3px 3px rgba(145, 145, 145, 0.618);
    height: 20rem;
    width: 20rem;
    transition: 0.5s ease;
    overflow: hidden;
    position: relative;
}

.project-card:hover:before {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom:0;
    background-color: rgba(0, 0, 0, 0.7);
}

.project-card:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    transition: 0.5s ease;

}

.card-header {
    background-color: var(--primary-color);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0.75rem;
    transition: 0.5s ease;
    position: absolute;
    top: -5rem;
    visibility: hidden;
}

.project-card:hover > .card-header {
    visibility:visible;
    top: 0;
}

.card-header h3 {
    margin: 0;
    color: var(--secondary-color);
}

.card-header .card-description {
    color: var(--secondary-color);
    width: 100%;
    text-align: center;
    margin: 0;
}

.card-main {
    visibility:hidden;
    position: absolute;
    width: 100%;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 3rem;
}

.project-card:hover > .card-main {
    visibility:visible;
}

.demo, .repo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.demo-text, .repo-text {
    color: var(--secondary-color);
}

.demo-link, .repo-link {
    font-size: 4rem;
    text-decoration: none;
}

.demo-link i, .repo-link i {
    color: var(--secondary-color);
}

.main i:hover {
    transform: scale(1.1);
}

.card-footer {
    background-color: var(--primary-color);
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 100%;
    position: absolute;
    bottom: -5rem;
    visibility: hidden;
    transition: 0.5s ease;
}

.project-card:hover > .card-footer {
    visibility:visible;
    bottom: 0rem;
}

.card-stack {
    padding: 0;
    display: flex;
    gap: 0.5rem;
    opacity: 40%;
}

.stack-icon {
    color: var(--secondary-color);
    font-size: 1.2rem;
}

#stack {
    width: 75vw;
    margin: 0 auto;
}

#stack p {
    font-size: clamp(1.2rem, 4vw - 2rem, 2rem);
    text-align: center;
}

#stack-logo-container {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    font-size: clamp(2rem, 8vw - 2rem, 4rem);
}
