.main {
    margin-top: 3rem;
    margin-bottom: 2rem;
    flex-grow: 1;
}

.main > section {
    margin: 3rem auto;
}

#about-me {
    width: 75vw;
    max-width: 1200px;
}

#about-me .title {
    font-size: clamp(3rem, 10vw - 2rem, 5rem);
}

#about-me p {
    font-size: clamp(1.2rem, 4vw - 2rem, 2rem);
}

#about-me p span {
    font-weight: bold;
    font-size: clamp(1.2rem, 4vw - 2rem, 2rem);
}

#projects {
    width: 75vw;
}

h2 {
    text-align: center;
    font-size: calc(1.1vw + 1.1vh + 1.1rem);
}

#projects-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
}

.project-card {
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    box-shadow: 3px 3px 3px rgba(145, 145, 145, 0.618);
    width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.5s ease;
    overflow: hidden;
    position: relative;
}

.project-card:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    transition: 0.5s ease;
    background-image: unset;
    background-color: var(--secondary-color);

}

.card-header {
    background-color: var(--primary-color);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0.75rem;
    visibility: hidden;
}

.project-card:hover > .card-header {
    visibility:visible;
}

.card-header h3 {
    margin: 0;
}

.card-header h3 a {
    color: var(--secondary-color);
    text-decoration: none;
}

.card-header .card-description {
    color: var(--secondary-color);
    margin: 0;
}

.card-screenshot {
    flex-grow: 1;
    height: 10rem;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    visibility: hidden;
}

.project-card:hover > .card-screenshot {
    visibility:visible;
}

.card-footer {
    background-color: var(--primary-color);
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 100%;
    visibility: hidden;
}

.project-card:hover > .card-footer {
    visibility:visible;
}

.card-stack {
    padding: 0;
    display: flex;
    gap: 0.5rem;
    opacity: 40%;
}

.card-links {
    display: flex;
    gap: 1rem;
}

.stack-icon, .demo i, .repo i {
    color: var(--secondary-color);
}

.stack-icon, .demo i, .repo i {
    font-size: 1.2rem;
}

.demo i:hover, .repo i:hover {
    transform: scale(1.1);
}

#stack {
    width: 75vw;
    margin: 0 auto;
}

#stack p {
    font-size: clamp(1.2rem, 4vw - 2rem, 2rem);
    text-align: center;
}

.stack-logo-container {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    font-size: clamp(1.5rem, 8vw - 2rem, 3rem);
}
